##### Telegram connection settings
PollingTimeout=60

# Leave empty if you don't want to use proxy
ProxyIP=88.199.21.76
ProxyPort=80

TelegramToken=


##### Slack connection settings
ServerIP=192.168.0.139
ServerPort=3000

SlackToken=


##### Functional settings
RepetitionsNumber=1

CommandHelp=Hello! I am Repeater. I will repeat your messages. Type "/repeat" to set number of repetitions.
CommandRepeat=Choose how many times I should repeat your message.
