##### Telegram connection settings
# Timeout for long polling in seconds
PollingTimeout=60

# Leave empty if you don't want to use proxy
ProxyIP=207.180.236.225
ProxyPort=3128

TelegramToken=


##### Slack connection settings
ServerIP=192.168.0.139
ServerPort=3000

SlackToken=


##### Functional settings
RepetitionsNumber=1

# Answers
CommandHelp=Hello! I am Repeater. I will repeat your messages. Type "/repeat" to set number of repetitions.
CommandRepeat=Choose how many times I should repeat your message.
