##### Telegram connection settings
# Timeout for long polling in seconds
PollingTimeout=60

# Leave this empty if you don't want to use proxy
ProxyIP=45.32.124.245
ProxyPort=8080

# This will be added in requests after "https://api.telegram.org/bot"
TelegramToken=1036316939:AAFmWwAZcTr64Zc0YzawkSUrcr04qN51_xQ

# Logs will be written in "Telegram.txt". Level can be DEBUG, WARN or RELEASE.
TelegramLogLevel=DEBUG

##### Slack connection settings
ServerIP=192.168.0.140
ServerPort=3000

# OAuth access token
SlackToken=xoxb-1002281197031-1003821527671-Ljbhtq1aqtCnKvqeuQ1E8aRW

# Logs will be written in "Slack.txt". Level can be DEBUG, WARN or RELEASE.
SlackLogLevel=DEBUG


##### Functional settings
RepetitionsNumber=1

# Answers
CommandHelp=Hello! I am Repeater. I will repeat your messages. Type "/repeat" to set number of repetitions.
CommandRepeat=Choose how many times I should repeat your message.
